.wp-block-lastfm-recently-played-block-lastfm-recently-played-block {
	.tracks-list {
		margin: 0;
		padding: 0;

		.no-tracks-found {
			border: 1px solid #e0e0e0;
			padding: 1rem;
		}

		li {
			display: flex;
			gap: 1rem;
			align-items: center;
			margin-bottom: 1rem;
			list-style: none;

			.track-image {
				position: relative;
				display: flex;
				margin-right: 0.5em;

				a {
					display: block;
					width: 2em;
					height: 2em;
				}

				img {
					position: relative;
					width: 2em;
					height: 2em;
					max-width: 2em;
					max-height: 2em;
					z-index: 1;
					background-color: currentColor;
					box-shadow: 2px 2px 4px 0px rgba(112,112,112,1);
				}

				.vinyl {
					background-image: url('vinyl.png');
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					right: -45%;
					width: 2em;
					height: 2em;
				}
			}
		}
	}
}
